.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: transparent;
  top: 65px;
  width: 90px;
  /* padding-top: 10px; */
  /* border: 1px solid red; */
}

.sidebar-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 76px;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(168, 166, 166);
  border-radius: 10px;
}

.sidebar-link img {
  background-color: inherit;
  margin-bottom: 4px;
  height: 25px;
}

.sidebar-link div {
  font-family: Roboto, Arial;
  background-color: inherit;
  font-size: 10px;
  color: white;
}
